@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-success: var(--success);
  --color-bg-bg: var(--bg-bg);
}

  :root {
    --radius: 0.625rem; /* 10px */
    --danger: #dc2626;
    --warning: #f59e0b;
    --success: #16a34a;
    /* Light Mode Colors (Hexadecimal) */
    --background: #ffffff;
    --foreground: #252525;
    --card: #ffffff;
    --card-foreground: #252525;
    --popover: #ffffff;
    --popover-foreground: #252525;
    --primary: #353535;
    --primary-foreground: #fafafa;
    --secondary: #f7f7f7;
    --secondary-foreground: #353535;
    --muted: #f7f7f7;
    --muted-foreground: #8e8e8e;
    --accent: #f7f7f7;
    --accent-foreground: #353535;
    --destructive: #e64e3d; /* oklch(0.577 0.245 27.325) */
    --border: #ebeced;
    --input: #ebeced;
    --ring: #b5b5b5;
    --chart-1: #fafafa; /* oklch(0.646 0.222 41.116) */
    --chart-2: #d4d4d4; /* oklch(0.6 0.118 184.704) */
    --chart-3: #737373; /* oklch(0.398 0.07 227.392) */
    --chart-4: #c0e000; /* oklch(0.828 0.189 84.429) */
    --chart-5: #ffd700; /* oklch(0.769 0.18#a3a3a38 70.08) */
    --sidebar: #fafafa;
    --sidebar-foreground: #252525;
    --sidebar-primary: #353535;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f7f7f7;
    --sidebar-accent-foreground: #353535;
    --sidebar-border: #ebeced;
    --sidebar-ring: #b5b5b5;
    --bg-bg:#f7f7f7;
  }

  .dark {
    /* Dark Mode Colors (Hexadecimal) */
    --background: #252525;
    --foreground: #fafafa;
    --card: #353535;
    --card-foreground: #fafafa;
    --popover: #454545;
    --popover-foreground: #fafafa;
    --primary: #ebeced;
    --primary-foreground: #353535;
    --secondary: #454545;
    --secondary-foreground: #fafafa;
    --muted: #454545;
    --muted-foreground: #b5b5b5;
    --accent: #5e5e5e;
    --accent-foreground: #fafafa;
    --destructive: #ff7f50; /* oklch(0.704 0.191 22.216) */
    --border: #ffffff1a; /* oklch(1 0 0 / 10%) */
    --input: #ffffff26; /* oklch(1 0 0 / 15%) */
    --ring: #8e8e8e;
    --sidebar: #353535;
    --sidebar-foreground: #fafafa;
    --sidebar-primary: #6a5acd;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #454545;
    --sidebar-accent-foreground: #fafafa;
    --sidebar-border: #ffffff1a; /* oklch(1 0 0 / 10%) */
    --sidebar-ring: #707070;
    --chart-5: #ff4500;
    --chart-1: #fafafa; /* oklch(0.646 0.222 41.116) */
    --chart-2: #a3a3a3; /* oklch(0.6 0.118 184.704) */
    --chart-3: #404040; /* oklch(0.398 0.07 227.392) */
    --bg-bg: #333333;
  }

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/*IMPORTANTE PARA EL MODEBAR*/
.modebar-container .modebar {
    margin-right: 1.3rem !important;
}

.modebar-container .modebar-group {
    margin-top: 5px !important;
    display: flex !important;
    flex-direction: row !important;
}

